@font-face {
    font-family: 'main-font';
    src: url('../fonts/main-font.ttf') format("opentype");
}

* {
    font-family: 'main-font';
}

body {
    margin: 0px;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #f8f6f6;
}

.head-label {
    display: inline-block;
    margin: 5px 0px;
    color: #696969;
    font-size: 30px;
}

.menu {
    float: right;
    margin: 0px;
}

.menu li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.menu li:hover {
    background-color: #C0C0C0;
}

.menu a {
    text-decoration: none;
    color: #696969;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin:  11.4px 0px;
}

.maininfo {
    background-color: #353535;
    color: #d6d5d5;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

.content-header {
    text-align: center;
    margin: 0px;
}

.coord {
    padding-top: 50px;
    padding-bottom: 50px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    display: flex;
    flex-direction: row;
}

.column {
    width: 50%;
    margin: 10px;
}

.x-input {
    width: 90%;
    border: none;
    margin: 5px;
}

.text-edit {
    width: 90%;
    border: none;
    border-bottom: 2px solid #CBBFBF;
}

.center-buttons {
    margin-top:30px;
    margin-bottom: 25px;
    text-align: center;
}

#error {
    text-align: center;
    color: #FF0000;
}

.table {
    padding-bottom: 10px;
}

.button {
    color: #FFFFFF;
    border: none;
    background-color: #F6744B;
    border-radius: 3px;
    height: 36px;
    font-size: 17px;
}

.button:hover {
    background-color: #e64919;
}

table {
    width: 100%;
    border: 1px solid #000000;
}

table td {
    text-align: center;
    border: 1px solid #000000;
}

.result-holder {
    background-color: #AAAAAA;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.result {
    padding: 5px;
    margin: 0px 10px;
}

.result-header {
    margin: 0px;
    font-size: 17px;
}

.result-data {
    padding: 0px 15px;
}

.execution-date {
    font-size: 14px;
}