################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bmp/.vs/bmp/v16
/bmp/Debug
